[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #06038D;
    --md-typeset-a-color: #000000;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #06038D;
    --md-typeset-a-color: #FFFFFF;
}

div.md-content {
  text-align: justify;
}
